
storage:
  mongo_uri: "mongodb://localhost:27017"
  database_name: "syntrix"
  data_collection: "documents"
  sys_collection: "sys"
  soft_delete_retention: 720h # 30 days

auth:
  access_token_ttl: 15m
  refresh_token_ttl: 168h # 7 days
  auth_code_ttl: 2m
  rules_file: "security.yaml"

api:
  port: 8080
  query_service_url: "http://localhost:8082"

realtime:
  port: 8081
  query_service_url: "http://localhost:8082"

query:
  port: 8082
  csp_service_url: "http://localhost:8083"

csp:
  port: 8083

trigger:
  nats_url: "nats://localhost:4222"
  rules_file: "triggers.example.json"
  worker_count: 32
