
storage:
  backends:
    default_mongo:
      type: mongo
      mongo:
        uri: "mongodb://localhost:27017"
        database_name: "syntrix"
  topology:
    document:
      strategy: single
      primary: default_mongo
      data_collection: documents
      sys_collection: sys
      soft_delete_retention: 720h # 30 days
    user:
      strategy: single
      primary: default_mongo
      collection: users
    revocation:
      strategy: single
      primary: default_mongo
      collection: revocations

identity:
  authn:
    access_token_ttl: 15m
    refresh_token_ttl: 168h # 7 days
    auth_code_ttl: 2m
    private_key_file: "keys/auth_private.pem"
  authz:
    rules_file: "security.yaml"

gateway:
  port: 8080
  query_service_url: "http://localhost:8082"
  realtime:
    transport: "both"
    per_message_deflate: true

query:
  port: 8082
  csp_service_url: "http://localhost:8083"

csp:
  port: 8083

trigger:
  nats_url: "nats://localhost:4222"
  rules_file: "triggers.example.json"
  worker_count: 32
  stream_name: "TRIGGERS"
